body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


.topnav {
    overflow: hidden;
    margin-left: 5px;
  }

  
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    /* background-color: #ddd; */
    color:#24282b;;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/* nav {
    text-align: right;
    font-size: 25px;
    margin-right: 30px;
    padding-top: 20px;
    word-spacing: 20px;
}

nav a {
    color: white;
} */

header {
    background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fGRhcmslMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60"); 
    background-size: cover;
    background-repeat: no-repeat;
    
}

.home-class,
.contact-class,
.project-class,
.experience-class {
       
    font-size: 50px;
    /* margin-left: 50px; */
    text-align: center;
    color: white;
    
    
}

.home-class p,
.contact-class p,
.project-class p,
.experience-class p{

    line-height: 0px;
    font-size: 50px;
    
}

.home-content {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 90px;
    justify-content: center;
    align-items: center;
}

.home-content,
.contact-content,
.experience-content {

    font-size: 20px;
    margin: auto;
    max-width: 700px;
    color:rgb(77, 80, 83);
}

.project-content {
    font-size: 20px;
    margin: auto;
    max-width: calc(100vw - 200px);
    color:rgb(77, 80, 83);
}

.contact-content {
    text-align: center;
}

/* .contact-info {
    width: calc(100vw - 100px);
} */

.project-content a,
.contact-content a{
    color: #3498db;
}

hr {
    width: calc(100vw - 200px);
    
}


h1 {
    color: white;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(77, 80, 83);
}

a {
    text-decoration: none;  
}
.non-footer {
    min-height: calc(100vh - 12px);
  }



@media screen and (max-width: 600px) {
    h1 {
        font-size: 50px;

    }

    footer {
        font-size: 15px;
    }

    .experience-content {
        max-width: 400px;
    }

    .home-class p{
        font-size: 20px;
    }

    .home-content {
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
        align-items: center;
    }

    .home-info {
        width: calc(100vw - 100px);
    }

    /* .contact-info {
        
        width: calc(100vw - 90px);
    } */

    .contact-info h2,p,a{
        
        font-size: 15px;
    }

    .project-content {
        
        max-width: calc(100vw - 90px);
        
    }

    .project-info  p,a,li{
        
        font-size: 15px;
    }

    hr {
        width: calc(100vw - 90px);
        
    }
}

img {
   
    height: 250px;
    width: 250px;
    border-radius: 50%;
    
}

footer {
    text-align: center;
    color:rgb(77, 80, 83);
    padding-bottom: 10px;
}

.footer-span {
    color: red;
}