nav {
    text-align: right;
    font-size: 30px;
    margin-right: 30px;
    color: white;
}

body {
    background-image: url("https://images.unsplash.com/photo-1505909182942-e2f09aee3e89?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTU5fHxhYnN0cmFjdCUyMGNvbG9yc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"); 
    background-size: 100% 50%;
    background-repeat:no-repeat;
}

.home-class,
.contact-class,
.project-class,
.experience-class {
    
    line-height: 200px;
    font-size: 25px;
    text-align: center;
    
}

a {
    text-decoration: none;  
}

img {
   
    height: 210px;
    width: 210px;
    border-radius: 50%;
}

footer{
    position:relative;
    bottom:0;
    text-align: center;
}