body {
    margin: 0;
}

nav {
    text-align: right;
    font-size: 25px;
    margin-right: 30px;
    padding-top: 20px;
    color: white;
}

header {
    background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fGRhcmslMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.home-class,
.contact-class,
.project-class,
.experience-class {
    
    line-height: 300px;
    font-size: 25px;
    text-align: center;
    
}

.home-content,
.contact-content,
.project-content,
.experience-content {

    font-size: 20px;
    padding-left: 25px;
    color:rgb(77, 80, 83);
}

.contact-content {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(77, 80, 83);
}

a {
    text-decoration: none;  
}

img {
   
    height: 210px;
    width: 210px;
    border-radius: 50%;
    margin-right: 50px
}

footer{
    text-align: center;
    color:rgb(77, 80, 83);
}

